.jumbotron{
    height: 200px;
    color: purple;
}
.cover{
    background-color: plum;
}
.form{
    align-content: center;
}
.buttonsview{
    align-content: center;
}
#background{
    background-image: url("../images/background.jpg");
    /* background-color: violet; */
    background-size: cover;
}